.btn-full {
    background-image: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
    color: #fff;
    line-height: 44px;
    white-space: nowrap;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    // transition: background-image 0.3s;

    // &:hover{
    //     background-image: linear-gradient(96.78deg, #4d5ef6 -57.09%, #f64d4d 101.17%);
    // }
}
.btn-full::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 400px;
    top: -200px;
    left: -300px;
    transform: rotate(45deg);
    background-color: #fff;
    opacity: 0.5;
    transition: transform 1s;
}
.btn-full:hover{

    &::after{
        transform: translateX(750px) rotate(45deg);
    }
}

.btn-main {
        font-size: 14px;
        font-family: Roboto;
        font-weight: 500;
        line-height: 40px;
        padding-left: 30px;
        padding-right: 30px;
        white-space: nowrap;
        cursor: pointer;
        border: 2px solid transparent;
        border-image: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
        border-image-slice: 1;
        background-color: rgba(#fff, 1);
        transition: background-color 0.3s, color 0.3s;
        position: relative;
        
        &::after{
            content: '';
            position: absolute;
            left: -1px;
            top: -1px;
            right: -1px;
            bottom: -1px;
            background-image: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
            z-index: -1;
        }

        &:hover{
            background-color: rgba(#fff, 0);
            color: #fff;
        }
}