.main-img__box{
    position: relative;

    @media (max-width: 780px) {
        width: 60%;
    }
}
.main-img__box::after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
.main-img__image{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}