.main-delivery{
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 780px) {
        min-height: 70px;
    }
}
.main-delivery-item{
    display: flex;
    align-items: center;

    @media (max-width: 1130px) {
        margin-right: 10px;
    }
}
.main-delivery-item::before{
    display: inline-block;
    font-family: icomoon;
    margin-right: 10px;
    font-style: 16px;
}
.main-delivery__delivery::before{
    content: '\e908';
}
.main-delivery__shield::before{
    content: '\e907';
}
.main-delivery__delivery-box::before{
    content: '\e906';
}