.menu {
    position: absolute;
    // border: 1px solid red;
    background-image: linear-gradient(96.78deg, rgba(#f64d4d, 0.2) -57.09%, rgba(#4d5ef6, 0.2) 101.17%);
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -5;
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    display: none;
    opacity: 0;
    transform: translateY(80%);
    transition-property: transform, opacity;
    transition-duration: 0.3s, 0.2s;
    transition-timing-function: ease-out;
    box-shadow: 0px 30px 30px 10px #00000033;

    @media (max-width: 500px) {
        height: calc(100vh - 129px);
        overflow-y: auto;
    }
}

.menu--open {
    display: block;
}
.menu__animation--close {
    opacity: 0;
    transform: translateY(80%);
    transition-property: transform, opacity;
    transition-duration: 0.3s, 0.2s;
    transition-delay: 0s, 0.1s;
    transition-timing-function: ease-out;
}
.menu__animation--open {
    opacity: 1;
    transform: translateY(100%);
}

.menu__list {
    position: relative;
    min-height: 70vh;
}
.menu__box {
    position: absolute;
    left: 200px;
    top: 0;
    background-color: #fff;
    right: 0;
    height: 100%;
    overflow-y: auto;
    display: none;
    padding: 30px;

    @media (max-width: 500px) {
        position: static;
        height: auto;
        display: block;
        background-color: transparent;
        padding: 10px;
        padding-left: 30px;
    }
}
.menu__item:first-child {
    .menu__box {
        display: grid;

        @media (max-width: 500px) {
            display: none;
        }
    }
    .menu__title {
        background-color: #fff;

        @media (max-width: 500px) {
            background-color: unset;
        }
    }
}

.menu__title {
    padding: 0.7em;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    width: 200px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    @media (max-width: 500px) {
        width: 100%;
        border-radius: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &::after {
        display: none;
        @media (max-width: 500px) {
            display: block;
            content: "\e904";
            font-family: icomoon;
            font-size: 12px;
        }
    }
}
.sub-menu__title {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0.7em;
}
.sub-menu__title + .sub-menu__list{

    @media (max-width: 500px) {
        display: none;
    }
}
.sub-menu__link {
    display: block;
    height: 100%;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    padding: 0.3em;
    border-radius: 0.5em;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    &:hover {
        background-image: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
        color: #fff;
    }

    @media (max-width: 500px) {
        &::before{
            content: '- ';
        }
    }
}
.menu__item:hover {
    .menu__box {
        display: grid;

        @media (max-width: 500px) {
            display: none;
        }
    }
    .menu__title {
        background-color: #fff;

        @media (max-width: 500px) {
            background-color: unset;
        }
    }
}
.menu__list:hover .menu__item:not(:hover) .menu__title {
    background-color: transparent;
}

//grid menu__box

.menu__box {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;

    @media (max-width: 500px) {
        grid-gap: unset;
        grid-template-columns: unset;
        display: none;
    }
}

.menu__item{
    @media (max-width: 500px) {
        .menu__title.menu__title--active{
            background-color: #fff;

            &::after{
                transform: rotate(90deg);
            }
        }

        .menu__title--active + .menu__box{
            display: block;

            .sub-menu__title--active + .sub-menu__list{
                display: block;
            }
        }
    }
}
