.reviews__item {
    padding: 25px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 70px 90px 150px 1fr;
    grid-template-rows: 26px 35px auto 50px;
    grid-template-areas:
        "avatar name time stars"
        "avatar city ... ..."
        "... text text text"
        "... button button button";

    @media (max-width: 550px) {
        grid-template-columns: auto auto;
        grid-template-rows: auto 30px 30px auto 50px;
        grid-template-areas:
        "avatar stars"
        "name city"
        "time time"
        "text text"
        "button button";
    }
}
.reviews__avatar-wrap {
    grid-area: avatar;
}
.reviews__name {
    grid-area: name;

    @media (max-width: 550px) {
        align-self: center;
    }
}
.reviews__time {
    grid-area: time;

    @media (max-width: 550px) {
        align-self: center;
    }
}
.reviews__stars {
    grid-area: stars;

    @media (max-width: 550px) {
        justify-self: right;
        align-self: center;
    }
}
.reviews__city {
    grid-area: city;

    @media (max-width: 550px) {
        align-self: center;
        justify-self: right;
    }
}
.reviews__text-box {
    grid-area: text;

    @media (max-width: 550px) {
        
    }
}
.reviews__button-box {
    grid-area: button;

    @media (max-width: 550px) {
        
    }
}
.reviews__avatar {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(96.78deg, rgba(#f64d4d, 0.2) -57.09%, rgba(#4d5ef6, 0.2) 101.17%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    color: #fff;
}
.reviews__avatar-wrap{
    display: flex;
    justify-content: center;

    @media (max-width: 550px) {
        justify-content: left;
    }
}
.reviews__name{
    font-weight: 400;
    font-size: 14px;
}
.reviews__time{
    font-size: 14px;
    font-weight: 300;
}
.reviews__city{
    font-size: 14px;
    font-weight: 400;
}
.reviews__text{
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
}
.reviews__button-box{
    align-self: center;
}
.reviews__button-send{
    border: none;
    display: inline-block;
    background-image: linear-gradient(96.78deg, rgba(246, 77, 77, 0.2) -57.09%, rgba(77, 94, 246, 0.2) 101.17%);
    padding-left: 15px;
    padding-right: 15px;
    line-height: 30px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;

    &:hover{
        background-image: linear-gradient(96.78deg, rgba(246, 77, 77, 1) -57.09%, rgba(77, 94, 246, 1) 101.17%);
        color: #fff;
    }
}