.size {

    @media (max-width: 780px) {
        margin-bottom: 36px;
    }
}
.size__title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 14px;
}
.size__current {
    font-weight: 300;
}
.main-text__size-label{
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid rgba(#000, 0.05);
}

.main-text__radio:checked ~ .main-text__size-label{
    border: 2px solid transparent;
    border-image: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
    border-image-slice: 1;
}
.main-text__radio{
    position: absolute;
    left: -99999px;
}
.main-text__size-list{
    display: flex;
}