.footer {
    background-image: linear-gradient(96.78deg, #f64d4d -57.09%, #4d5ef6 101.17%);
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer__grid {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 110px 110px min-content;
    column-gap: 50px;
    grid-template-areas:
        "sitemap subscribe"
        "sitemap networks"
        "logo copyright";

    @media (max-width: 1200px) {
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "sitemap sitemap"
        "subscribe networks"
        "logo copyright";
    }
    @media (max-width: 760px) {
        display: flex;
        flex-direction: column;
        grid-gap: 0;
    }
}

.sitemap {
    grid-area: sitemap;
    
}
.subscribe {
    grid-area: subscribe;

    @media (max-width: 760px) {
        order: -5;
        margin-bottom: 50px;
    }
}
.networks {
    grid-area: networks;

    @media (max-width: 1200px) {
        justify-self: center;
    }
    @media (max-width: 760px) {
        align-self: center;
        text-align: center;
        margin-bottom: 15px;
    }
}
.footer__logo-wrapper {
    grid-area: logo;
}
.copyright {
    grid-area: copyright;
    
}
.sitemap{
    display: flex;
    justify-content: space-between;

    @media (max-width: 1200px) {
        justify-content: space-around;
    }
    @media (max-width: 760px) {
        order: -4;
        flex-direction: column;
        justify-content: unset;
        margin-bottom: 50px;
        align-items: center;
        text-align: center;
    }
}
.sitemap__list-item{

    @media (max-width: 760px) {
        margin-bottom: 15px;
    }
}
.sitemap__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
}
.sitemap__link{
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}
.subscribe__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 22px;
}
.subscribe__form{
    display: flex;
    height: 35px;
}
.subscribe__button{
    width: 130px;
    background-image: linear-gradient(96.78deg, rgba(#F64D4D, 0.1) -57.09%, rgba(#4D5EF6, 0.1) 101.17%);
    background-color: #fff;
    border: none;
}
.subscribe__input{
    flex: 1 1 0;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding-left: 20px;
    padding-right: 10px;
    font-size: 14px;
    font-style: italic;
    margin-right: 10px;
}
.subscribe__input::placeholder{
    color: #fff;
}

.networks__title{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.networks__list{
    display: flex;
    font-size: 25px;
}
.networks__vk::after{
    content: '\e90b';
    font-family: icomoon;
    margin-right: 30px;
    font-size: 20px;
}
.networks__instagram::after{
    content: '\e90a';
    font-family: icomoon;
    margin-right: 30px;
}
.networks__facebook::after{
    content: '\e909';
    font-family: icomoon;
}
.copyright{
    justify-self: end;
    font-size: 12px;
    font-weight: 400;
    align-self: flex-end;

    @media (max-width: 1200px) {
        justify-self: center;
    }
    @media (max-width: 760px) {
        align-self: center;
        text-align: center;
    }
}
.footer__logo-wrapper{
    @media (max-width: 760px) {
        text-align: center;
        margin-bottom: 30px;
    }
}